@use '/src/styles/constants/colors';
@use '/src/styles/mixins/flexbox';

.footer {
  .subFooter {
    background-color: colors.$SUB_FOOTER;
    padding: 24px 0;
  
    .container {
      position: relative;
      @include flexbox.flexbox(center, start);
      flex-direction: column;
      max-width: 700px;
      margin: 0 auto;

      h2 {
        color: colors.$WHITE;
        font-size: 18px;
        font-weight: 700;
        letter-spacing: -0.018em;
        line-height: 1.6;
        margin-bottom: 16px;
      }
  
      button {
        border-radius: 24px;
        background-color: colors.$WHITE;
        padding: 10px 24px;
        color: colors.$FOOTER_BTN;
        font-size: 16px;
        font-weight: 400;
        letter-spacing: -0.018em;
        line-height: 1.6;
      }
  
      .icon {
        svg {
          position: absolute;
          right: 0;
          bottom: -30px;
        }
      }
    }
  }
  
  .footerInfo {
    background-color: colors.$FOOTER_INFO;
    color: colors.$FOOTER_INFO_TEXT;
    padding: 40px 0;

    .container {
      width: 1040px;
      margin: 0 auto;
      @include flexbox.flexbox(between, end);

      .footerLeft {
        h2 {
          font-weight: 400;
          letter-spacing: -0.018em;
          line-height: 1.6;
          margin-bottom: 25px;
        }

        address {
          font-size: 14px;

          p:last-child{
            margin-top: 10px;
          }
        }

        img {
          display: block;
          margin-top: 16px;
        }
      }

      .footerRight {
        text-align: right;

        span {
          display: inline-block;
          margin-bottom: 30px;
          font-weight: 600;
        }
      }
    }
  }
}
