@use '/src/styles/constants/colors';
@use '/src/styles/mixins/flexbox';

.footer {
  .subFooter {
    padding: 24px 0;
    background-color: colors.$SUB_FOOTER;

    .container {
      position: relative;
      @include flexbox.flexbox(center, start);
      flex-direction: column;
      max-width: 700px;
      margin: 0 auto;

      h2 {
        margin-bottom: 16px;
        font-size: 18px;
        font-weight: 700;
        line-height: 1.6;
        color: colors.$WHITE;
        letter-spacing: -0.018em;
      }

      button {
        padding: 10px 24px;
        font-size: 16px;
        font-weight: 400;
        line-height: 1.6;
        color: colors.$FOOTER_BTN;
        letter-spacing: -0.018em;
        background-color: colors.$WHITE;
        border-radius: 24px;
      }

      .icon {
        svg {
          position: absolute;
          right: 0;
          bottom: -30px;
        }
      }
    }
  }

  .footerInfo {
    padding: 40px 0;
    color: colors.$FOOTER_INFO_TEXT;
    background-color: colors.$FOOTER_INFO;

    .container {
      max-width: 1040px;
      margin: 0 auto;
      @include flexbox.flexbox(between, end);

      .footerLeft {
        h2 {
          margin-bottom: 25px;
          font-weight: 400;
          line-height: 1.6;
          letter-spacing: -0.018em;
        }

        address {
          font-size: 14px;

          p:last-child {
            margin-top: 10px;
          }
        }

        img {
          display: block;
          margin-top: 16px;
        }
      }

      .footerRight {
        text-align: right;

        span {
          display: inline-block;
          margin-bottom: 30px;
          font-weight: 600;
        }
      }
    }
  }
}
